@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(216, 12%, 8%);
    font-family: "Overpass", sans-serif;
    font-size: 15px;
}

.attribution {
    margin: 0 auto;
    text-align: center;
    width: 50%;
    background-color: hsl(213, 19%, 18%);
}

ul {
    margin: 27px 0 35px;
    list-style: none;
    display: flex;
}

li {
    color: hsl(217, 12%, 63%);
    border-radius: 100px;
    background-color: hsl(213, 19%, 18%);
    font-size: 16px;
    min-height: 50px;
    min-width: 50px;
    padding: 18px 18px 12px 18px;
    text-align: center;
    font-weight: 600;
    margin-right: 23px;
}

h1 {
    color: hsl(0, 0%, 100%);
    font-weight: 500;
    font-size: 28.5px;
    margin-bottom: 12px;
}

p {
    color: hsl(217, 12%, 63%);
    line-height: 1.5;
    margin-bottom: 10px;
}

.container {
    background-color: #1f2630;
    min-width: 405px;
    width: 411.5px;
    margin: 195px auto;
    border-radius: 30px;
}

.wrap {
    padding: 32px;
}

img {
    padding: 15.5px;
    border-radius: 100px;
    background-color: hsl(213, 19%, 18%);
    margin-bottom: 26.5px;
}

input {
    width: 100%;
    background-color: hsl(25, 97%, 53%);
    color: #ffff;
    border: none;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1.8px;
    padding: 15px;
    border-radius: 50px;
    cursor: pointer;
}

.thank_you {
    text-align: center;
}

.ty_img {
    margin-bottom: 10px;
}

.ty_rating {
    padding: 5px 10px 3px;
    margin: 0 auto;
    width: 55%;
    border-radius: 50px;
    background-color: hsl(213, 19%, 18%);
    color: #b4734b;
    margin-bottom: 32px;
}

.ty_text {
    font-size: 15px;
}
